*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(45, 102, 245);
  --secondary-color: #66C4FF;
  --bg-color: rgb(229, 231, 235);
  --fg-color: #2B2B2B;
  --overlay: #D9D9D9;

  --default-margin: 2em;


  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--fg-color);
  background-color: var(--bg-color);

  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* reseting */
button,
fieldset,
input,
legend,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border-radius: 1em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--secondary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.discard-button{
  background: none;
  padding: 0;
  outline: none;
}
.discard-button:hover{
  border: none;
}
.discard-button:focus,
.discard-button:focus-visible{
  outline: none;
}

input,
select,
textarea {
  border: 1px solid var(--fg-color);
  background-color: var(--bg-color);
  border-radius: 1rem;
  color: var(--fg-color);
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--secondary-color);
}
input[type="text"],
input[type="email"],
input[type="datetime-local"],
input[type="number"],
input[type="password"],
select,
textarea {
  font: 1.25rem / 1.5 sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.2rem 0.75rem;
}
textarea {
  min-height: 10rem;
}
input::placeholder,
textarea::placeholder {
  opacity: 1; /* Firefox */
  color: var(--fg-color);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* classes */
/* flex */
.flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.align-items-center{
  align-items: center;
}
.flex-start{
  justify-content: flex-start;
}
.flex-end{
  justify-content: flex-end;
}
.space-between{
  justify-content: space-between;
}
.space-around{
  justify-content: space-around;
}
.space-evenly{
  justify-content: space-evenly;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.grow1{
  flex-grow: 1;
}
.grow2{
  flex-grow: 2;
}
.grow3{
  flex-grow: 3;
}

.grid{
  display: grid;
}

/* images */
.small-img{
  width: 16px;
  height: 16px;
}

.medium-img{
  width: 32px;
  height: 32px;
}

.large-img{
  width: 120px;
  height: 120px;
}

/* spaceing */
.mil-small {
  margin-inline: 1em;
} 

.mil-medium{
  margin-inline: 1.5em;
}

.mil-large{
  margin-inline: var(--default-margin);
}

.mbl-small {
  margin-block: 1em;
} 

.mbl-medium{
  margin-block: 1.5em;
}

.mbl-large{
  margin-block: var(--default-margin);
}

.pil-small {
  padding-inline: 1em;
} 

.pil-medium{
  padding-inline: 1.5em;
}

.pil-large{
  padding-inline: var(--default-margin);
}

.pbl-small {
  padding-block: 1em;
} 

.pbl-medium{
  padding-block: 1.5em;
}

.pbl-large{
  padding-block: var(--default-margin);
}

.full-height{
  height: 100vh;
}

/* test */
.border{
  border: 1px solid red;
}
.circle-radius{
  border-radius: 50%;
}

.overflow-x-scroll{
  overflow-x: scroll;
}
.scrollbar-hide{
  scrollbar-width: none;
}